.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  padding-bottom: 50px;
}
.home-cointainer-background {
  position: relative;
  z-index: 10;
  width: 100%;
  border-bottom: #2f5d50 solid 10px;
}
.home-background {
  width: 100%;
  z-index: 0;
  filter: brightness(0.4);
}
.container-home-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-name {
  color: #fff;
  font-size: 4rem;
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  width: max-content;
  font-style: normal;
}
.container-home-name p {
  font-size: 20px;
  color: #b9b9b9;
}
.home-profile {
  position: absolute;
  bottom: -200px;
  width: 400px;
  z-index: 0;
  border: 5px solid #fff;
  border-radius: 999px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  left: 50%;
  transform: translateX(-50%);
}
.rectangule {
  background: #2f5d50;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  left: -30%;
  transform: rotate(45deg);
}

.home-container {
  z-index: 100;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
}
.home-me-img {
  width: 550px;
  z-index: 100;
  position: relative;
}

.home-container-text {
  margin-top: 200px;
  width: 600px;
  font-size: 40px;
  color: #000;
}
.home-container-text h2 {
  margin-bottom: 30px;
}
.home-container-text p {
  font-size: 20px;
  margin-bottom: 10px;
}
.home-container-text .p-02 {
  font-size: 20px;
  color: #000;
}

.aboutMe {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: #faf3e3;
  z-index: 50;
  padding: 0;
}
.aboutMe-title {
  margin-top: 70px;
  color: #3f7566;
}
.aboutMe-container {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.aboutMe-container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  z-index: 110;
  width: 500px;
}

.aboutMe-container-description img {
  top: auto;
}
.aboutMe-container-description p {
  margin-bottom: 10px;
  font-size: 20px;
}
.aboutMe-motivational {
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: #3f7566;
}
.container-aboutMe-img {
  position: relative;
}
.aboutMe-rectangule {
  position: absolute;
  bottom: 0;
  right: 230px;
  z-index: 10;
  width: 1300px;
  height: 1200px;
  background: #2d6254;
  top: -250px;
  transform: rotate(45deg);
}

.skills {
  background: #3a7d6b;
  padding: 60px 20px;
}

.skills h2 {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.skills-grid {
  display: grid;
  max-width: 1400px;
  margin: auto;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 20px;
}

/* CARD */
.skill-card {
  background: #faf3e3;
  border-radius: 12px;
  padding: 20px;
  text-align: center;

  transition: all 0.25s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
}

.skill-card:hover {
  transform: translateY(-6px);
  border-color: #fff;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

/* ICONO */
.icon {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* TEXTO */
.skill-card h3 {
  font-size: 1rem;
  color: #3a7d6b;
  font-weight: 600;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background: #faf3e3;
}

.experience h2 {
  margin-bottom: 30px;
}

.experience-card {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  margin-bottom: 100px;
  align-items: center;
}
.experience-card.reverse {
  flex-direction: row-reverse;
}

/* Lado izquierdo */
.experience-images {
  position: relative;
}

.experience-images img {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
  width: 240px;
  border-radius: 8px;
  object-fit: cover;
  position: absolute;
}

/* Lado derecho */
.experience-info {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-header h3 {
  margin: 0;
  color: #2f5d50;
  font-size: 25px;
}

.time {
  font-size: 1.1rem;
  opacity: 0.7;
}

.company {
  font-weight: 500;
  margin: 5px 0 15px;
}

.description {
  line-height: 1.5;
}
/* =========================
   MOBILE (hasta 768px)
   ========================= */
@media (max-width: 768px) {
  /* HOME */
  .home {
    min-height: auto;
    padding-bottom: 100px;
  }

  .home-name {
    top: 50px;
    font-size: 32px;
    text-align: center;
  }

  .container-home-name {
    top: 50px;
    width: 90%;
  }

  .container-home-name p {
    font-size: 14px;
    text-align: center;
  }

  .home-profile {
    width: 180px;
    bottom: -90px;
  }

  .home-container {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .home-container-text {
    margin-top: 120px;
    width: 100%;
    font-size: 24px;
    text-align: center;
  }

  .home-container-text h2 {
    font-size: 28px;
  }

  .home-container-text p {
    font-size: 16px;
  }

  /* ABOUT ME */
  .aboutMe-container {
    flex-direction: column;
    align-items: center;
  }

  .aboutMe-container-description {
    width: 90%;
    text-align: center;
  }

  .home-me-img {
    width: 250px;
  }

  .aboutMe-rectangule {
    display: none; /* esto rompe mucho en mobile */
  }

  /* SKILLS */
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* EXPERIENCE */
  .experience-card {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
  }

  .experience-card.reverse {
    flex-direction: column;
  }
  .experience-info {
    width: 90%;
    text-align: center;
  }

  .experience-header {
    flex-direction: column;
    gap: 5px;
  }

  .experience-images {
    position: relative;
    width: 100% !important;
    height: auto !important;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .experience-images img {
    position: static; /* clave: sacamos el absolute */
    width: 45% !important;
    transform: none !important;
  }
}

@media (max-width: 390px) {
  .home-container-text {
    margin-top: 50px;
  }
  .container-home-name {
    top: none;
    bottom: 0;
    text-align: left;
    left: 120px;
    width: 200px;
    align-items: unset;
    transform: unset;
  }
  .home-name {
    font-size: 20px;
  }
  .container-home-name p {
    text-align: left;
    font-size: 12px;
  }
  .home-profile {
    position: absolute;
    bottom: -50px;
    width: 100px;
    z-index: 0;
    border: 5px solid #fff;
    border-radius: 999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    left: 10px;
    transform: unset;
  }
}

.contacto {
  background-color: #2f5d50;
  color: #f2e8d5;
  text-align: center;
  padding: 60px 20px;
}

.contacto h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.intro {
  max-width: 500px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-card {
  background-color: #f2e8d5;
  color: #2f5d50;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  background-color: #e8dcc6;
}

.contact-card h3 {
  margin-bottom: 5px;
  font-size: 2rem;
}

.cierre {
  margin-top: 30px;
  font-size: 0.95em;
  opacity: 0.9;
}
